/* .notepad-window {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 50vh;
    border: 2px solid #0055E5;
    position: absolute;
    left: 35%;
    top: 20%;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3vh;
    background: #0055E5;
    color: white;
}

.top-bar img {
    width: 1vw;
    height: 2.4vh;
}

.top-bar p {
    margin-left: 0.2vw;
    text-shadow: 1px 1px 2px black;
    white-space: nowrap;
}

.top-bar a {
    margin-left: 0.5vw;
    text-decoration: none;
    color: white;
    width: 1vw;
    height: 1vw;
    background: rgb(151,180,249);
    background: linear-gradient(163deg, rgba(151,180,249,1) 0%, rgba(0,69,211,1) 100%);
    border: white solid 1px;
    border-bottom: white solid 2px;
    border-right: white solid 2px;
    text-align: center;
}

.top-bar a:last-child {
    background: red;
}

.top-bar p+a {
    margin-left: auto;
}

.tool-bar {
    width: 100%;
    height: 2.5vh;
    display: flex;
    margin: 0;
    padding-top: 0.7vh;
    background: #ECE9D8;
    border-bottom: 1px solid #0055E5;
}

.tool-bar p {
    margin: 0;
    margin-right: 0.75vw;
    font-size: 14px;
}

.tool-bar p:first-child {
    margin-left: 0.5vw;
}

.tool-bar p:hover {
    background-color: rgba(151,180,249,0.6);
}

.main-window {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #DAE4D9;
}

.image-link {
    display: flex;
    width: 75px;
    margin: 10px;
    text-align: left;
    flex-wrap: wrap;

}

.image-link * {
    margin-right: 10px;
}

.image-link img {
    max-width: 100%;
    height: 75px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s ease;
} */


.notepad-window {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 50vh;
    border: 2px solid #0055E5;
    position: absolute;
    left: 35%;
    top: 20%;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3vh;
    background: #0055E5;
    color: white;
}

.top-bar img {
    width: 1vw;
    height: 2.4vh;
}

.top-bar p {
    margin-left: 0.2vw;
    text-shadow: 1px 1px 2px black;
    white-space: nowrap;
}

.top-bar a {
    margin-left: 0.5vw;
    text-decoration: none;
    color: white;
    width: 1vw;
    height: 1vw;
    background: rgb(151,180,249);
    background: linear-gradient(163deg, rgba(151,180,249,1) 0%, rgba(0,69,211,1) 100%);
    border: white solid 1px;
    border-bottom: white solid 2px;
    border-right: white solid 2px;
    text-align: center;
}

.top-bar a:last-child {
    background: red;
}

.top-bar p+a {
    margin-left: auto;
}

.tool-bar {
    width: 100%;
    height: 2.5vh;
    display: flex;
    margin: 0;
    padding-top: 0.7vh;
    background: #ECE9D8;
    border-bottom: 1px solid #0055E5;
}

.tool-bar p {
    margin: 0;
    margin-right: 0.75vw;
    font-size: 14px;
}

.tool-bar p:first-child {
    margin-left: 0.5vw;
}

.tool-bar p:hover {
    background-color: rgba(151,180,249,0.6);
}

.main-window {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    background: #DAE4D9;
}

.image-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    margin: 25px;
    margin-bottom: 0;
    text-decoration: underline;
    color: black;
}

.image-link img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.image-link p {
    margin: 0;
    font-size: 14px;
    white-space: nowrap;
    text-decoration: underline;
}
